$main-font: 'Source Sans Pro', sans-serif;
$add-font: 'Fjalla One', sans-serif;
$background-main: #29606b;
$background-add: #245963;
$main-color: #fff;
$red: #e84c3d;
$yellow: #fdbd1f;
$green: #1bbc9b;
$violet: #9b58b5;
$colors: red, yellow, green, violet;